<!-- se indic que va a heredar de base.html -->
{% extends "base.html" %}

<!-- se carga lo que esta en la carpeta static -->
{% load static %}  

<!-- aqui va el contenido cambiante -->
{% block content %}

    {% if medico %}
        <h1>Bienvenido, Dr. {{ medico.nombre }}</h1>
        <p>{{ medico.descripcion }}</p>
        <!-- Aquí puedes añadir más detalles, como una imagen, especialidad, etc. -->
        <img src="{{ medico.imagen.url }}" alt="Imagen de perfil">
        <p>Especialidad: {{ medico.get_especialidad_display }}</p>

        <!-- Y enlaces a las otras secciones -->

        <!-- etc. -->
    {% else %}
        <p>Perfil de médico no encontrado.</p>
    {% endif %}

{% endblock %}