{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Perfil</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ miFormularioPerfil.as_p }}
        {{ miFormularioImagenesPerfil.management_form }}
            {% for form in miFormularioImagenesPerfil %}
                {% if form.instance.pk %}
                    <img src="{{ form.instance.imagen.url }}" alt="Imagen actual" />
                    <p>Eliminar? {{ form.DELETE }}</p>
                {% endif %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
{% endblock %}
