<!-- se indic que va a heredar de base.html -->
{% extends "base.html" %}

<!-- se carga lo que esta en la carpeta static -->
{% load static %}  

<!-- aqui va el contenido cambiante -->
{% block content %}

<!-- boton de cancelar -->
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-danger">Danger</button>
    <div class="btn-group" role="group">
      <button id="btnGroupDrop4" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
      </div>
    </div>
</div>
 
<div class="main-content">
    <div class="leftPanel">
        <div class="upload-area">

        </div>
    </div>
    <div class="rigthPanel">
        <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">Nombre</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
        <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">Descripción</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
        <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">Precio</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
        <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">Hora Estimación</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</div>

{% endblock %}